on:
  push:
    tags:
      - 'v*'

name: release

jobs:
  release:
    name: publish release on github
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v3
    - name: create release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        prerelease: ${{ contains(github.ref, 'pre') || contains(github.ref, 'rc') }}
